{{ define "main" }}


{{ with .Site.Params.contact_form_action }}
<section class="contact-form section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="mb-4 text-center">{{ i18n "contact_form" }}</h2>
      </div>
      <div class="col-8">
        <form action="{{ . }}"  class="row">
          {{ "<!-- Name -->" | safeHTML }}
          <div class="col-md-6">
            <input class="form-control main" type="text" placeholder="Name" required>
          </div>
          {{ "<!-- Email -->" | safeHTML }}
          <div class="col-md-6">
            <input class="form-control main" type="email" placeholder="Your Email Address" required>
          </div>
          {{ "<!-- subject -->" | safeHTML }}
          <div class="col-md-12">
            <input class="form-control main" type="text" placeholder="Subject" required>
          </div>
          {{ "<!-- Message -->" | safeHTML }}
          <div class="col-md-12">
            <textarea class="form-control main" name="message" rows="10" placeholder="Your Message"></textarea>
          </div>
          {{ "<!-- Submit Button -->" | safeHTML }}
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-main-md">{{ i18n "submit" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}